<a href="https://colab.research.google.com/github/aimlresearcher/Python-Pandas/blob/main/pandas_series_lec01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

### Create Python Pandas Series Series

In [3]:
data = ['one', 'two', 'three', 'four', 'five']
type(data)

list

In [4]:
data

['one', 'two', 'three', 'four', 'five']

In [6]:
pandas_series = pd.Series(data)
type(pandas_series)

pandas.core.series.Series

In [7]:
pandas_series

0      one
1      two
2    three
3     four
4     five
dtype: object

### Index

In [8]:
data = ['one', 'two', 'three', 'four', 'five']
pandas_series = pd.Series(data, index = [1, 2, 3, 4, 5])
pandas_series

1      one
2      two
3    three
4     four
5     five
dtype: object

In [9]:
dictionary = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}
pandas_series = pd.Series(dictionary)
pandas_series

1      one
2      two
3    three
4     four
5     five
dtype: object

In [10]:
dictionary = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
pandas_series = pd.Series(dictionary)
pandas_series

one      1
two      2
three    3
four     4
five     5
dtype: int64